---
import { defaultLanguage, type LanguageCode } from '@/i18n/ui';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { Image } from 'astro:assets';
import logo from '@/assets/logo.svg';

const currentLocale =
  (Astro.currentLocale as LanguageCode | undefined) ?? defaultLanguage;
---

<a href={getRelativeLocaleUrl(currentLocale)}>
  <Image src={logo} alt="Logo" height={40} width={40} />
</a>
